################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TeamFunctionApp/.vs/TeamFunctionApp/v16
